<!-- <mat-toolbar color="primary" class="navbar">
    <div> 1st Material Form </div>
    <div>
        <span> Accueil </span>
        <span> Formulaire </span>
        <span> Bouton </span>
    </div>
</mat-toolbar> -->

<header>
    <h1> 1st Material Form</h1>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
        <a routerLink="formulaire" routerLinkActive="active">Formulaire</a>
        <a routerLink="bouton">Bouton</a>
    </nav>
</header>
