
    h2 {
        padding-left: 2rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

form {
    padding-left: 6rem;

    mat-form-field {
        padding: 0 0 0 0;
    }

.genre-nom-prenom-container {
    display: flex;

    .div-genre {
        margin-right:  5rem;  
            
    }

    .div-nom {
        margin-right:  5rem;      
    }

}

.nir-email-container {
    display: flex;
  
    .div-nir {
        margin-right:  10rem;      
    }

}
.pays-visites-container {


}
    
} 


